


body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 10px;
    background-color: #000000;
    background-image: linear-gradient(to right,rgb(1, 53, 73), black, rgb(1, 53, 73));
}


